
html,legend {
	color:#404040;
	background:#fff;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:none;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
h1 {
	font-size:18px;
}
h2 {
	font-size:16px;
}
h3 {
	font-size:14px;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:none;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,button,textarea,select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input,button,textarea,select {
	*font-size:100%;
}
select,input,button,textarea {
	font:100% Tahoma,Helvetica,Arial,sans-serif;
}
table {
	font-size:inherit;
	font:100%;
}
pre,code,kbd,samp,tt {
	font-family:'Courier New',Courier,monospace;
}
small {
	font-size:100%;
}
a {
	color:#36c;
	text-decoration:none;
}
a:hover {
	color:#f60;
	text-decoration:underline;
}
abbr,acronym {
	border-bottom:1px dotted;
	cursor:help;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
hr {
	color:#D1D7DC;
	background-color:#D1D7DC;
	border:none;
	height:1px;
}
html {
	overflow-y:scroll;
}
#page,#page3 {
	width:950px;
	margin-left:auto;
	margin-right:auto;
}
#page3 {
	width:750px;
}
.col-main {
	float:left;
	width:100%;
}
.col-sub,.col-extra {
	float:left;
}

.msg .error,.msg .stop,.msg .alert,.msg .attention,.msg .tips,.msg .ok,.msg .notice,.msg .question,.msg .help,.msg .small-help {
	color:#404040;
	background:url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat;
	border:1px solid #ddd;
	float:left;
	padding:2px 10px 2px 23px;
	line-height:18px;
}

.msg .tips {
	background-position:3px -197px;
	border-color:#ffcc7f;
	background-color:#ffffe5;
}
.msg .ok {
	background-position:3px -247px;
	border-color:#4dbf00;
	background-color:#f0ffe5;
}
.msg .notice {
	background-position:5px -295px;
	border-color:#40b3ff;
	background-color:#e6f5ff;
}
#footer {
	border-top:0px solid #D1D7DC;
	width:1000px;
	height:50px;
}

